.shop {
  margin: 50px 0;
  .shop__wrap {
    max-width: 1940px;
    padding: 0 170px;
    display: flex;
    justify-content: space-between;
    .filters {
      margin: 0;
      margin-right: 50px;
      font-size: 32px;
      color: #009eff;
      font-weight: 800;
      padding: 20px;
      width: 300px;
      border: 2px solid #333d45;
      border-radius: 5px;
    }
    .gallery {
      width: 1000px;
      margin: 0;
      .gallery__menu {
        display: flex;
        justify-content: space-between;
        .title {
          margin: 0;
          margin-bottom: 20px;
          padding-top: 20px;
          font-size: 32px;
          font-weight: 800;
          color: #009eff;
        }
        .search__bar {
          margin: 20px 0;
          padding: 0 5px;
          display: flex;
          align-items: center;
          border: 2px solid #5b616846;
          border-radius: 25px;
          .search__btn {
            color: #5b616846;
          }
          .search__btn:hover {
            cursor: pointer;
          }
          .gallery__inp {
            border: none;
            outline: none;
            color: #5b616846;
            height: 25px;
            margin: 0;
          }
          .cancel__btn {
            color: #5b616846;
          }
          .cancel__btn:hover {
            cursor: pointer;
          }
        }
      }
      .product__template {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
