.content__to__show {
  padding: 50px 0;
  .content__wrap {
    max-width: 1940px;
    padding: 0px 170px;
    .title {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 800;
      color: #009eff;
    }
    .subtitle {
      font-size: 20px;
      margin-bottom: 15px;
      color: #5b6168;
      font-weight: 800;
    }
    .name {
      color: #5b6168;
      margin-bottom: 10px;
      font-weight: 800;
    }
    .text {
      color: #5b6168;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 17px;
    }
    a {
      text-decoration: none;
      color: #009eff;
    }
    .delivery {
      .delivery__wrap {
        display: flex;
        justify-content: space-between;
        .payment {
          max-width: 600px;
          margin: 0;
        }
        .our__delivery {
          max-width: 600px;
          margin: 0;
        }
      }
      .delivey__img {
        margin-top: 20px;
        max-width: 440px;
        height: 100px;
        background-image: url('../../assets/img/LiqPay.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
@media (max-width: 1600px) {
  .content__to__show {
    .content__wrap {
      .delivery {
        .delivery__wrap {
          .payment {
            max-width: 500px;
          }
          .our__delivery {
            max-width: 500px;
          }
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .content__to__show {
    .content__wrap {
      padding: 0px 100px;
    }
  }
}
@media (max-width: 1280px) {
  .content__to__show {
    .content__wrap {
      padding: 0px 50px;
      .title {
        font-size: 30px;
      }
      .subtitle {
        font-size: 18px;
      }
      .delivery {
        .delivery__wrap {
          .payment {
            max-width: 400px;
          }
          .our__delivery {
            max-width: 400px;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .content__to__show {
    .content__wrap {
      .title {
        font-size: 32px;
      }
      .subtitle {
        font-size: 20px;
      }
      .name {
        font-size: 14px;
      }
      .text {
        font-size: 14px;
      }
      ul {
        font-size: 14px;
      }
      a {
        font-size: 14px;
      }
      .delivery {
        .delivery__wrap {
          display: flex;
          justify-content: space-between;
          .payment {
            max-width: 300px;
            margin: 0;
          }
          .our__delivery {
            max-width: 300px;
            margin: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .content__to__show {
    .content__wrap {
      .delivery__wrap {
        flex-direction: column;
      }
    }
  }
}
