.basket__overlay {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  button:hover {
    cursor: pointer;
  }
  .basket__modal {
    overflow: auto;
    padding: 20px;
    position: fixed;
    width: 320px;
    height: 100%;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    .title {
      margin: 0 0 20px 0;
      display: flex;
      justify-content: space-between;
      h2 {
        margin: 0;
        font-size: 32px;
        color: #009eff;
        font-weight: 800;
      }
      .close__btn {
        margin: 0;
        border: 1px solid #323941;
        background-color: transparent;
        color: #323941;
        padding: 10px;
        width: 100px;
      }
    }
    .items {
      flex: 1;
      .basket__item {
        margin-bottom: 10px;
        padding: 0 10px;
        border: 2px solid #323941;
        border-radius: 5px;
        display: flex;
        align-items: center;
        img {
          width: 100px;
        }
        .item__template {
          max-width: 150px;
          display: flex;
          .remove__btn {
            height: 15px;
            width: 20px;
            font-size: 10px;
            margin: 0;
            padding: 0;
            border: 1px solid #323941;
            background-color: transparent;
            color: #323941;
          }
          .item__info {
            .name {
              color: #323941;
            }
            .price {
              color: #323941;
            }
          }
        }
      }
    }
    .basket__panel {
      margin: 50px 0;
      .total__price {
        display: flex;
        justify-content: space-between;
        .price__name {
          margin: 0;
          color: #009eff;
          font-size: 22px;
          font-weight: 800;
        }
        .price {
          margin: 0;
          padding-bottom: 20px;
          color: #323941;
          font-size: 22px;
          font-weight: 800;
        }
      }
    }
  }
}
