.basket__overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  .basket__modal {
    position: absolute;
    width: 320px;
    height: 100%;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    .items {
      flex: 1;
    }
  }
}
